@{
  Layout = "_Layout";
}

<div id="splashMenu">
  <a href="/jobs">
    <button class="btn btn-primary">View Jobs</button>
  </a>
  <a href="/jobs/new">
    <button class="btn btn-success">Add Job</button>
  </a>
</div>