@{
  Layout = "_Layout";
}
@using JobBoard.Models;

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>@Model.Title</strong>
        </div>
      </div>
      <div class="panel-body">
        <blockquote>@Model.Description</blockquote>
        <p>To apply, contact at @Model.Contact</p>
        <a href='jobs/@Model.Id'>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <a href="/jobs">
      <button class="btn btn-primary">View Jobs</button>
    </a>
    <br><br>
    <a href="/jobs/new">
      <button class="btn btn-success">Add Job</button>
    </a>
  </div>
</div>